{% extends '@BkstgCore/layout.html.twig' %}
{% trans_default_domain 'BkstgNoticeBoardBundle' %}
{% set page_title = 'notice_board'|trans|title %}

{% block content %}
  <div class="alert alert-info">
    {{ 'board.archive_info'|trans }}
  </div>
  <p><div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>{{ 'post.label.author'|trans }}</th>
          <th>{{ 'post.label.status'|trans }}</th>
          <th>{{ 'post.label.body'|trans }}</th>
          <th>{{ 'post.label.updated'|trans }}</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
          <tr>
            <td>
              <div class="btn-group btn-group-sm">
                <a href="{{ url('bkstg_post_update', { 'production_slug': production.slug, 'id': post.id}) }}" class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i><span class="sr-only">{{ 'edit'|trans }}</span></a>
                <a href="{{ url('bkstg_post_delete', { 'production_slug': production.slug, 'id': post.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i><span class="sr-only">{{ 'delete'|trans }}</span></a>
              </div>
            </td>
            <td>{{ get_user(post.author) }}</td>
            <td>{{ post.published == false ? 'post.label.status_choices.unpublished'|trans : post.expired ? 'post.label.status_choices.expired'|trans : 'post.label.status_choices.archived'|trans }}</td>
            <td>{{ post.body|striptags|truncate(50, true)|purify }}</td>
            <td>{{ post.updated|date(full_date) }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="5">{{ 'board.archive_no_posts'|trans }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div></p>
  {{ knp_pagination_render(posts) }}
{% endblock %}
