{% trans_default_domain 'BkstgNoticeBoardBundle' %}

{# We need the user for this. #}
{% set user = get_user(post.author) %}

{# Setup the default classes for this post. #}
{% set classes = ['post', 'container-fluid'] %}

{# This is a child, add the child class. #}
{% if post.parent is not null %}
  {% set classes = classes|merge(['child']) %}
{% endif %}

{# This is a pinned post, add a pinned class. #}
{% if post.pinned %}
  {% set classes = classes|merge(['pinned']) %}
{% endif %}

<div id="post-{{ post.id }}" class="{{ classes|join(' ') }}">
  <div class="row">
    <div class="col-1">
      {# Include the profile image for this user. #}
      {% include '@BkstgCore/_profile_picture.html.twig' with { 'user': user } only %}
    </div>
    <div class="col-11">
      {# Indicate the pinned status for screen readers. #}
      {% if post.pinned %}
        <p class="sr-only"><small>{{ 'post.pinned'|trans }}</small></p>
      {% endif %}

      <div class="post-body">
        {{ post.body|purify }}
      </div>
      <div class="post-details">
        <p class="text-muted"><em>
          {{ 'post.posted_by'|trans({'%date%': post.created|time_diff, '%author%': user }) }}
          {% if post.updated > post.created %}
            <small class="text-info">{{ 'post.edited_flag'|trans }}</small>
          {% endif %}
        </em></p>
      </div>

      {# Show the actions for this post by default. #}
      {% if (show_actions is not defined) or (show_actions == true) %}
        <div class="post-actions">
            {% if post.parent == null %}
              <a href="{{ url('bkstg_post_create', {'production_slug': production.slug}) }}?reply-to={{ post.id }}" class="btn btn-success"><i class="fa fa-commenting"></i> {{ 'reply'|trans }}</a>
            {% endif %}
            {% if is_granted('edit', post) %}
              <div class="btn-group" role="group" aria-label="Actions">
                <a href="{{ url('bkstg_post_update', {'id': post.id, 'production_slug': production.slug}) }}" class="btn btn-info"><i class="fa fa-pencil-alt"></i><span class="sr-only">{{ 'edit'|trans }}</span></a>
                <a href="{{ url('bkstg_post_delete', {'id': post.id, 'production_slug': production.slug}) }}" class="btn btn-danger"><i class="fa fa-trash"></i><span class="sr-only">{{ 'delete'|trans }}</span></a>
              </div>
            {% endif %}
        </div>
      {% endif %}

      {# Render the children for this post recursively. #}
      {% if post.children is not empty %}
        <div class="children">
        {% for child in post.children %}
          {% include '@BkstgNoticeBoard/Post/_show.html.twig' with { 'post':child, 'production': production, 'show_actions': (show_actions is defined) ? show_actions : true } only %}
        {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
