{% if post.id is defined and post.id is not empty %}
  {% set action = url('bkstg_post_edit', {'production_slug': production.slug, 'id': post.id}) %}
{% else %}
  {% set action = url('bkstg_post_create', {'production_slug': production.slug}) %}
{% endif %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form, {'action': action }) }}
  {{ form_widget(form.body, { 'id': 'bkstg_post_create_' ~ post.id }) }}

  {# Editor-only items #}
  {% if is_granted('GROUP_ROLE_EDITOR', production) %}
    <p><a class="btn btn-secondary" data-toggle="collapse" href="#post-admin-options-{{ post.id is defined ? post.id : 'create' }}" aria-expanded="false" aria-controls="post-admin-options-{{ post.id is defined ? post.id : 'create' }}">
      {{ 'Admin options'|trans }}
    </a></p>
    <div class="collapse" id="post-admin-options-{{ post.id is defined ? post.id : 'create' }}">
      <div class="card card-body">
        {{ form_widget(form) }}
      </div>
    </div>
  {% endif %}
  <div class="form-group">
    <button type="submit" class="btn btn-primary">{{ 'Submit'|trans }}</button>
  </div>
{{ form_end(form) }}
