{% set user = get_user(post.author) %}
{% set classes = ['post', 'container-fluid'] %}
{% if post.parent is not null %}
  {% set classes = classes|merge(['child']) %}
{% endif %}
{% if post.pinned %}
  {% set classes = classes|merge(['pinned']) %}
{% endif %}
<div id="post-{{ post.id }}" class="{{ classes|join(' ') }}">
  <div class="row">
    <div class="col-1">
      {% include '@BkstgCore/Partials/profile-picture.html.twig' with { 'user': user } only %}
    </div>
    <div class="col-11">
      {% if post.pinned %}
        <p class="sr-only"><small>{{ 'Post is pinned'|trans }}</small></p>
      {% endif %}
      <div class="post-body">
        {{ post.body|raw }}
      </div>
      <div class="post-details">
        <p class="text-muted"><em>
          {{ 'Posted %date% by %author%'|trans({'%date%': post.created|time_diff, '%author%': user }) }}
          {% if post.updated > post.created %}
            <small class="text-info">{{ '(edited)'|trans }}</small>
          {% endif %}
        </em></p>
      </div>
      {% if (show_actions is not defined) or (show_actions == true) %}
        <div class="post-actions">
          <div class="btn-group" role="group" aria-label="Actions">
            {% if post.parent == null %}
              <a href="{{ url('bkstg_post_create', {'production_slug': production.slug}) }}?reply-to={{ post.id }}" class="btn btn-outline-info"><i class="fa fa-commenting"></i> {{ 'Reply'|trans }}</a>
            {% endif %}
            {% if is_granted('edit', post) %}
              <a href="{{ url('bkstg_post_edit', {'id': post.id, 'production_slug': production.slug}) }}" class="btn btn-outline-dark"><i class="fa fa-pencil"></i> {{ 'Edit'|trans }}</a>
            {% endif %}
          </div>
        </div>
      {% endif %}
      {% if post.children is not empty %}
        <div class="children">
        {% for child in post.children %}
          {% include '@BkstgNoticeBoard/Post/show.html.twig' with { 'post':child, 'production': production, 'show_actions': (show_actions is defined) ? show_actions : true } only %}
        {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
